#####두 수 입력, 합 출력 프로그램

In [1]:
A,B = map(int,input("두 정수를 입력하세요.").split())
result = A + B
print(result)

1 2
3

In [2]:
print("Hello Python")

Hello Python