<a href="https://colab.research.google.com/github/ldhl2714/aipython/blob/main/240405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a = int(input("a 입력"))

if a % 2 == 0 :
    print("a는 짝수입니다.")
elif a % 2 == 1 :
    print("a는 홀수입니다.")

print("프로그램 종료")

a 입력5
a는 홀수입니다.
프로그램 종료

In [3]:
a = int(input("a 입력"))

if a<5:
    print("a는 5보다 작습니다.")
elif a>5 :
    print("a는 5보다 큽니다.")
else:
  print("a는 5입니다.")

a 입력10
a는 5보다 큽니다.
프로그램 종료

In [7]:
a = int(input("점수 입력"))

if a>=90 :
    print("A")
elif a>=80 :
    print("B")
elif a>=70 :
    print("C")
elif a>=60 :
    print("D")
else:
  print("F")

점수 입력90
A
프로그램 종료

In [62]:
a=0
b=0
for i in range(1,11,2):
  a=a+i
print (a)
for i in range(2,11,2):
  b=b+i
print (b)

25
30

In [71]:
a=0
b=0
for i in range(1,11):
  if i%2==1:
    a+=i
  else:
    b+=i
print("홀수 합 %d, 짝수합 %d"%(a,b))

홀수 합 25, 짝수합 30

In [58]:
for i in range(1,10):
  if  i % 2==1:
    continue
  print (i)

2
4
6
8

In [78]:
x=0
n = int(input())
for i in range(1,n+1):
  x+=i
print (x)

10
55

In [83]:
n = int(input())
for i in range(1,n):
  n+=i
  print (n)

3
4
6

In [86]:
n = int(input())
for i in range(1,n):
  n+=i
  print (n)

5
6
8
11
15